{
  "options": {
{% for option in osquery_options %}
{%   set _option = osquery_options[option] %}
{%   if loop.last %}
    "{{ option }}": "{{ _option['value'] }}"
{%   else %}
    "{{ option }}": "{{ _option['value'] }}",
{%   endif %}
{% endfor %}
  },
  "schedule": {
{% for schedule in osquery_schedules %}
{%   set _schedule = osquery_schedules[schedule] %}
    "{{ schedule }}": {
      "query": "{{ _schedule['query'] }}",
      "interval": "{{ _schedule['interval'] }}"
{%   if loop.last %}
    }
{%   else %}
    },
{%   endif %}
{% endfor %}
  },
  "decorators": {
    // "load": [
    //   "SELECT uuid AS host_uuid FROM system_info;",
    //   "SELECT user AS username FROM logged_in_users ORDER BY time DESC LIMIT 1;"
    // ]
  },

  // Add default osquery packs or install your own.
  //
  // There are several 'default' packs installed with 'make install' or via
  // packages and/or Homebrew.
  //
  // Linux:        /usr/share/osquery/packs
  // OS X:         /var/osquery/packs
  // Homebrew:     /usr/local/share/osquery/packs
  // make install: {PREFIX}/share/osquery/packs
  //
  // "osquery-monitoring": "/usr/share/osquery/packs/osquery-monitoring.conf",
  // "incident-response": "/usr/share/osquery/packs/incident-response.conf",
  // "it-compliance": "/usr/share/osquery/packs/it-compliance.conf",
  // "osx-attacks": "/usr/share/osquery/packs/osx-attacks.conf",
  // "vuln-management": "/usr/share/osquery/packs/vuln-management.conf",
  // "hardware-monitoring": "/usr/share/osquery/packs/hardware-monitoring.conf",
  // "ossec-rootkit": "/usr/share/osquery/packs/ossec-rootkit.conf",
  // "windows-hardening": "C:\\ProgramData\\osquery\\packs\\windows-hardening.conf",
  // "windows-attacks": "C:\\ProgramData\\osquery\\packs\\windows-attacks.conf"
  "packs": {
{% for pack in osquery_packs %}
{%   set _pack = osquery_packs[pack] %}
{%   if loop.last %}
    "{{ pack }}": "{{ _pack['value']}}"
{%   else %}
    "{{ pack }}": "{{ _pack['value']}}",
{%   endif %}
{% endfor %}
  }
}
